.item-output {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-output div {
  width: 20%;
  text-align: right;
}

.item-output div:first-child {
  width: 40%;
  text-align: left;
}

.item-output div:last-child {
  text-align: right;
}

.item-title-cell {
  width: 40%;
  text-align: left;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.item-cell {
  width: 20%;
  text-align: right;
}
