body {
  background: url("./bg.jpg") repeat fixed;
}
body .loader {
  left: calc(50% - 30px);
  z-index: 2;
  position: fixed;
  width: 40px;
  display: flex;
  justify-content: center;
  padding: 3px 2px 4px;
  color: rgba(39,39,40,0.9);
  background: #f3f3d1;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
body .adsbygoogle {
  text-align: center;
}
body #root {
  max-width: 1200px;
  margin: 0 auto;
}
body #root .panel-content {
  color: #e4d6ba;
  background-color: rgba(39,39,40,0.9);
  padding: 8px;
}
body #root .panel-content h1,
body #root .panel-content h2,
body #root .panel-content h3,
body #root .panel-content h4 {
  padding: 0;
  margin: 0;
}
body #root .grayback {
  background-color: rgba(39,39,40,0.9);
  padding: 8px;
}
body #root header {
  /*background-color: rgba(39,39,40,0.9);*/
}
body #root header #head {
  padding: 5px 5px 0 15px;
}
body #root header #head a {
  font-size: 2em;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
body #root header #head a:hover {
  color: rgba(255,255,255,0.85);
}
body #root table {
  width: 100%;
  border-collapse: initial;
}
body #root table thead > tr > th {
  background-color: #0e394c;
  color: #f5f5f5;
  padding: 1px 6px;
}
body #root table thead > tr > th select {
  font-weight: normal;
}
body #root table tbody tr td,
body #root table tfoot tr td {
  background-color: #272728;
  color: #e4d6ba;
}
body #root table tbody tr td ul.list > li,
body #root table tfoot tr td ul.list > li {
  padding: 1px 3px;
  background-color: rgba(22,112,146,0.2);
  margin-top: 1px;
}
body #root table tbody tr td ul.list > li:last-child,
body #root table tfoot tr td ul.list > li:last-child {
  margin-bottom: 0;
}
body #root table tbody tr td ul.list > li:hover,
body #root table tfoot tr td ul.list > li:hover {
  cursor: pointer;
  background-color: rgba(22,112,146,0.35);
}
body #root table tbody tr td ul.list > li .img24,
body #root table tfoot tr td ul.list > li .img24 {
  margin-right: 6px;
  width: 28px;
}
body #root table tbody tr td ul.list > li.active,
body #root table tfoot tr td ul.list > li.active {
  background-color: rgba(22,112,146,0.35);
  opacity: 1;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.txt-normal {
  font-weight: normal;
}
.opacity05 {
  opacity: 0.4;
}
.h-opacity-1:hover {
  opacity: 1;
}
.img16 {
  margin-left: 1px;
  margin-right: 4px;
  width: 24px;
}
ul.components li .containter {
  margin: 0;
  overflow: hidden;
}
ul.components li .text-holder {
  overflow: visible;
  padding: 0;
  font-size: 0.85em;
}
ul.components li .img-box {
  float: left;
  margin-right: 3px;
}
ul.components li .left {
  float: right;
}
a:link,
a:active,
a:visited {
  color: #b9964d;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.float-r {
  float: right;
}
.remove-zone {
  position: absolute;
  top: 0;
  right: 0;
}
#aZone {
  display: none;
}
.txt-yellow,
.profit {
  color: #cddc39;
}
.txt-lime {
  color: #a5d6a7;
}
.profit-minus {
  color: #e57373;
}
.small-date {
  font-size: 0.85em;
}
.b {
  font-weight: bold;
}
.used_img {
  width: 24px;
}
.inline-block-search {
  display: inline-block;
}
.inline-block-search input {
  margin: 0;
}
.li-inline {
  background-color: rgba(22,112,146,0.2);
  margin-right: 1px;
  display: inline-block;
  padding: 6.4px 12px !important;
}
.li-inline:hover {
  background-color: rgba(22,112,146,0.25);
}
.li-inline.active {
  background-color: rgba(22,112,146,0.5) !important;
  font-weight: bold;
}
.react-autosuggest__container {
  position: relative;
}
.react-autosuggest__container .react-autosuggest__suggestions-container {
  z-index: 2;
  width: 100%;
  position: absolute;
  background-color: #ffedcb;
}
.react-autosuggest__container .react-autosuggest__suggestions-container ul > li.react-autosuggest__suggestion {
  list-style: none;
  padding: 2px;
  cursor: pointer;
  color: #314756;
  margin: 0;
}
.react-autosuggest__container .react-autosuggest__suggestions-container ul > li.react-autosuggest__suggestion:hover {
  background-color: #ccab84;
}
.react-autosuggest__container .react-autosuggest__suggestions-container ul > li.react-autosuggest__suggestion:last-child {
  border: 0;
}
.react-autosuggest__container .react-autosuggest__suggestions-container .react-autosuggest__suggestion--focused {
  background-color: #ccab84;
}
.input-search {
  color: #b9964d;
  width: 100%;
  background: transparent;
  border: 0;
  outline: none;
  border-bottom: 1px solid transparent;
}
.input-search:focus {
  border-bottom: 1px solid #808080;
}
.inline {
  display: inline-block;
}
:hover > ul {
  display: block;
}
.user_img,
.item_img {
  cursor: pointer;
  margin: 3px 0 0 3px;
  border: 1px solid #0d3647;
}
.user_img:hover,
.item_img:hover {
  border-color: #0f4e61;
}
.td-padd-rb {
  padding: 0 3px 3px 0;
}
#header-menu ul li {
  font-weight: 600;
  color: #b9964d;
  list-style: none;
  position: relative;
  display: inline-block;
  background-color: #0d3647;
  margin-right: 3px;
}
#header-menu ul li:hover {
  background: #0f4e61;
  cursor: pointer;
}
#header-menu ul li a {
  color: #b9964d;
  text-decoration: none;
  padding: 3px 6px;
  display: inline-block;
}
#header-menu ul li a:hover {
  color: #b9964d;
}
#header-menu ul li.red-cell {
  background-color: rgba(187,70,48,0.9);
  color: #f5f5f5;
}
#header-menu ul li.red-cell:hover {
  background-color: #bb4630;
}
#header-menu ul li.red-cell a {
  color: #fff;
}
.inside-table .row {
  margin: 0;
  background-color: rgba(22,112,146,0.2);
  margin-top: 1px;
  padding: 1px 0;
}
.inside-table .row:hover {
  background-color: rgba(22,112,146,0.25);
}
.inside-table .row div[class^=col-md] {
  padding: 1px 2px;
}
.inside-table .row div[class^=col-]:nth-child(1) {
  text-align: right;
  padding-right: 6px;
}
.inside-table-form .row {
  margin: 0;
  background-color: rgba(22,112,146,0.2);
  margin-top: 1px;
  padding: 2px;
}
.inside-table-form .row:hover {
  background-color: rgba(22,112,146,0.25);
}
.inside-table-form .row div[class^=col-md] {
  padding: 1px;
}
nav#header-menu > ul > li:hover > ul {
  display: block;
}
nav#header-menu > ul > li > ul {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
}
nav#header-menu > ul > li > ul li {
  z-index: 1;
  min-width: 130px;
  border-top: 1px solid rgba(39,39,40,0.9);
}
.t-small {
  font-size: 0.85em;
  color: #f5f5f5;
}
input {
  border: 0;
  background-color: #ffedcb;
  outline: none;
  color: #314756;
  width: 65px;
  padding: 0 1px;
  margin-right: 3px;
}
input:last-child {
  margin-right: 0;
}
button {
  border: 0;
}
select,
textarea,
button {
  border-color: #ffe4b2;
  background-color: #ffedcb;
  outline: none;
  color: #314756;
  margin-right: 3px;
}
select:last-child,
textarea:last-child,
button:last-child {
  margin-right: 0;
}
textarea {
  resize: none;
}
.btn-group {
  display: inline-block;
  margin-right: 3px;
}
.btn-group button {
  cursor: pointer;
  margin: 0;
  border: 0;
  padding: 0 9px;
  background-color: transparent;
  color: #ffedcb;
}
.btn-group button.active {
  background-color: #0f4e61;
}
.reactToolTip {
  padding: 8px !important;
  border: 1px solid #0f4e61 !important;
  background-color: #272728 !important;
  opacity: 1 !important;
}
.reactToolTip.place-top:after {
  border-top-color: #0f4e61 !important;
  border-top-style: solid !important;
  border-top-width: 6px !important;
}
.reactToolTip.place-left:after {
  border-left-color: #0f4e61 !important;
  border-left-style: solid !important;
  border-left-width: 6px !important;
}
.reactToolTip.place-right:after {
  border-right-color: #0f4e61 !important;
  border-right-style: solid !important;
  border-right-width: 6px !important;
}
.pointer {
  cursor: pointer;
}
.pea {
  pointer-events: all;
}
.pen {
  pointer-events: none;
}
.w100 {
  width: 100%;
}
.w130px {
  width: 130px;
}
.t-a_l {
  text-align: left;
}
.t-a_r {
  text-align: right;
}
.p-b-3 {
  padding-bottom: 3px;
}
.m-b-1 {
  margin-bottom: 1px;
}
.col-first {
  padding-right: 1px;
}
.col-midd {
  padding-left: 2px;
  padding-right: 1px;
}
.col-last {
  padding-left: 2px;
}
.padd-3 {
  padding: 3px;
}
.padd-left-3 {
  padding-left: 3px;
}
.padd-right-3 {
  padding-right: 3px;
}
.padd-b-3 {
  padding-bottom: 3px;
}
.m-r-3 {
  margin-right: 3px;
}
@media (max-width: 1024px) {
  .row {
    margin: 0 0 3px;
  }
  div[class^=col-md] {
    padding: 0 2px;
  }
}
@media (max-width: 768px) {
  .row {
    margin: 0 0 3px;
  }
  .col-midd,
  .col-last {
    margin-top: 3px;
  }
  .inside-table .row div[class^=col-]:nth-child(1) {
    text-align: left;
  }
}
@media (max-width: 375px) {
  body {
    font-size: 1.1em;
  }
}


.control-panel {
  background-color: #222;
  padding: 5px;
}

.control-panel-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-title {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
}
